@tailwind base;
@tailwind components;
@tailwind utilities;


/* IFrame ql */
.ql-video {
    width: 100%;
    height: 728px;
}

.ql-container {
    height: 400px !important;
}

.qqqq .ql-container {
    max-height: calc(100% - 83px) !important;
    height: 95% !important;
}

.ql-editor:before {
    color: black !important;
}

.ql-img img {
    cursor: default !important;
}